p{
    font-family:'Roboto', sans-serif;
    color:rgb(0,0,160);
    font-weight:bold;
  }
  div{
    width:40%;
    background-color: rgb(0,215,185);
    border-radius:5px;
    padding:10px;
  }
  label{
    font-family: 'Roboto', sans-serif;
    color:rgb(0,0,160);
    font-weight: bold;
    font-size:15px;
  }
  
  input{
    height:10px;
    font-family: sans-serif;
    height:20px;
    margin: 2px;
  }
  
  input:hover{
    border-color:rgb(255,220,0);
  }
  
  button{
    font-family: 'Roboto', sans-serif;
    font-size:15px;
    background-color:rgb(0,0,160);
    color:rgb(255,220,0);
    border-color:rgb(0,0,160);
  }
  
  button:hover{
    outline: 1px solid blue;
    
  }
  
  input[type="checkbox"]{
    margin-top:5px;
    margin-bottom:10px;
  }
  input[type="text"]{
    margin-top:5px;:
  }